.logo {
  max-width: 150px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0;
  border-bottom: 1px solid #E5E5E5; 

  @include media-breakpoint-up(lg)
  {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
}

.navbar-toggler
{
  border: 0;
}
