.logo {
  max-width: 150px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: none;
  border-bottom: 1px solid #E5E5E5;

  @include media-breakpoint-up(lg)
  {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
      padding: 15px 56px;
  }

  .container
  {
    max-width: none;
    padding: 0;

    .navbar-nav
    {
      li
      {
        &:not(:last-child)
        {
          @include media-breakpoint-up(lg)
          {
              margin-right: 56px;
          }
        }
      }
    }
  }
}

.navbar-toggler
{
  border: 0;
}
