/*! Stylesheet for dierenambulance */

.col-6 {margin-left: auto; margin-right: auto;}

.btn:not(:disabled):not(.disabled) {
	margin-top: 10px;
}

html, body
{
    height: 100%;
    width: 100%;
    position: absolute;
}
.main-content
{
    position: absolute;
    top: 50px;
    width: 100%;
}
#map
{
    height: 300px;
	width: 75%;
    margin: 0 auto;
}
.content
{
    width: 100%;
    padding-top: 30px;
}
form
{
    display: inline-block;
    width: 100%;
    padding: 20px 20px 0;
}
table
{
    width: 100%;
}
input, label, td, th
{
    font-size: 18px;
}
td
{
    padding: 5px 0;
}
#map-image{
	margin-right: 10px;
}
#toggle-button{
	margin-bottom: 40px;
	border: none;
	padding: 0;
	background: none;
}
