body{
    background-color: white !important;
}
.new_ticket_container{
    width: 100%;
}

.title_page{
    visibility: hidden;
    display: none;
}

.grid_container{
    /* display: grid;
    grid-template-areas:
            "header"
            "main"
            "footer";
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    margin-top: 8px;
}
.icon_bar{
    /* grid-area: header;
    display: grid;
    grid-template-columns: repeat(5, 20%); */
    text-align: center;
    color: #757575;
    background-color: #FFFFFF;
    padding-top: 10px;
}
/* .reporter{
    grid-column: 1/1;
}
.location{
    grid-column: 2/2;
}
.animal{
    grid-column: 3/3;
}
.priority{
    grid-column: 4/4;
}
.summary{
    grid-column: 5/5;
} */
.circle{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #757575;
    box-sizing: border-box;
    margin: auto auto 2px auto;
    padding-top: 4px;
    font-size: 14px;
    transition: background-color .5s;
}
.highlighted{
    background-color: #238644;
    color: #FFFFFF;
}
.test{
    padding-top: 0px;
}
.main{
    grid-area: main;
    margin-bottom: 100px;
}
.reporter_info{
    padding: 20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto;
}
.name{
    grid-row: 1/1;
    grid-column: 1/3;
    border: 0;
}
.phone_number{
    grid-row: 2/2;
    grid-column: 1/3;
}
.footer{
    grid-area: footer;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0px -1px 4px rgba(0,0,0,0.25);
    width: 100%;
    height: 55px;
    background-color: #FFFFFF;
}
.footer_button_submit{
    position: fixed;
    z-index: 999;
    bottom: 16;
    right: 10;
    background-color: #FFFFFF;
    border: 0;
    color: #238644;
    font-size: 14px;
}

.pages{
    position: absolute;
    visibility: hidden;
    transition: margin-left .3s;
    overflow: hidden;
    margin-left: 100%;
    width: 0%;
}
.current_page{
    width: 100%;
    margin-left: 0%;
    visibility: visible;
}
.footer_button{
    position: fixed;
    color: #238644;
    font-size: 14px;
    margin: auto;
    background-color: #FFFFFF;
    border: 0;
}
#footer_button_forward{
    right: 12px;
    margin-top: 15px;
}
#footer_button_back{
    left: 12px;
    margin-top: 15px;
    visibility: hidden;
}
.searchStuff{
    width: 100%;
}
#searchTextBox{
    width: 52%;
    height: 41px;
    border: 1px solid #ECECEC;
    float: left;
}
#knownAddress{
    width: 37%;
    /* float: left; */
    height: 41px;
    border: 1px solid #ECECEC;
    border-radius: 0px;
}
#searchButton{
    width: 11%;
    height: 41px;
    float: right;
    border: 1px solid #ECECEC;
}
.address_info_grid{
    font-size: 14px;
    text-align: center;
    width: 90%;
    display: inline-block;
    margin: 0 auto;
}
.address_info{
    border: 0px;
    display: inline-block;
}
.animal_cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 14px;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 442px;
    overflow: hidden;
}
.animal_card{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    margin-left: 21px;
    display: grid;
    grid-template-columns: 1fr 20% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: url('../images/hond-icon.png') 50% 50% no-repeat ;
    background-size: 30px 30px;
    height: 138px;
    width: 138px;
}
.animal_grid{
    grid-column: 2/2;
    grid-row: 3/3;
    text-align: center;
}
.animal_icon{
    width: 30px;
    height: 30px;
}
.animal_info{
    grid-template-rows: repeat(5, 20%);
    padding: 20px 20px 0;
}
.selectedAnimal {
    box-shadow: 1px 1px 4px rgba(32, 32, 32, 0.25);
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
    width: 331px;
    margin: 20px 20px 0;
}
#selected_animal{
    margin: 10px 0 0 65px;
    margin-top: 10px;
    font-size: 18px;
}
.ticket_cards_grid{
    display: grid;
    grid-template-rows: auto;
}
.new_ticket{
    grid-row: 1/1;
    display: grid;
    grid-template-columns: 10% repeat(3, 1fr);
    grid-template-rows: repeat(2, 21px);
}
.new_ticket_prio{
    grid-column: 1/2;
    grid-row: 1/3;
    display: block;
    margin: 0 auto;
}
.new_ticket_priority{
    width: 100%;
    height: 50px;
    display: block;
    margin: 0 35%;
    font-size: 24px;
    color: #878787;
}
.animal_main_info{
    grid-column: 2/5;
    grid-row: 1/1;
    font-size: 18px;
}
.animal_title{
    display: inline-block;
}
.animal_breed{
    display: inline-block;
    font-size: 16px;
    color: #828282;
}
.destination_info{
    grid-column: 2/5;
    grid-row: 2/3;
    font-size: 13px;
    font-weight: 300;
}
.bus_name{
    display: grid;
    grid-template-areas:
            "header"
            "main";
}
.bus_name_title{
    grid-area: header;
    font-size: 18px;
    font-weight: 500;
    color: #2F80ED;
}
.bus_task_list{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.ticket{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 10% 90%;
    font-size: 13px;
    border: 1px solid #E5E5E5;
}
.ticket_priority{
    grid-column: 1/1;
    grid-row: 1/3;
    font-size: 24px;
    color: #878787;
    padding-left: 35%;
}
.ticket_address{
    grid-column: 2/4;
    font-weight: 300;
    font-size: 13px;
}
.unfinishedtickets_animal_title{
    font-size: 18px;
}
.unfinishedtickets_animal_breed{
    font-weight: 300;
    font-size: 16px;
    color: #828282;
}
.new_ticket_information{
    padding: 0 20px 0 20px;
}
.new_ticket_info{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 20px);
    padding-bottom: 25px;
}
.general{
    font-size: 18px;
    color: #828282;
}
.general_labels{
    grid-column: 1/1;
    font-size: 14px;
    height: auto;
}
.general_information{
    grid-column: 2/2;
    font-size: 14px;
    height: 14px;
}
.centralist{
    grid-row: 1/1;
}
.date{
    grid-row: 2/2;
}
.time{
    grid-row: 3/3;
}
.address_info_new_ticket{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.location_label{
    grid-column: 1/3;
}

.reporter_new_ticket{
    display: grid;
    padding-top: 30px;
}
.animal_new_ticket{
    padding-top: 30px;
}
.description{
}
.priority_new_ticket{
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 30px;
    padding-bottom: 40px;
}
.priority_label{
    grid-column: 1/3;
}
@media (min-width: 800px) {
    .current_page{
        width: 100%;
    }
    .title_page{
        display: block;
        visibility: visible;
    }
    .grid_container {
        max-width: 70%;
        margin: 0 auto;
    }
    .page{
        max-width: 60%;
        margin: 0 auto;
    }
    .reporter_info{
        padding: 0px;
        grid-template-columns: 50% 50%;
        grid-column-gap: 10px;
    }
    .name{
        grid-row: 1/1;
        grid-column: 1/1;
    }
    .phone_number{
        grid-row: 1/1;
        grid-column: 2/3;
    }
    .line{
        width: 80%;
        margin-bottom: 10px;
    }
    .animal_page{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .animal_cards{
        grid-column: 1/4;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .selectedAnimal{
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .animal_info{
        grid-column: 4/6;

    }
    .map_grid{
        display: grid;
        grid-template-columns: 60% 40%;
    }
    #map {
        grid-column: 1/2;
    }
    .ticket_cards_grid{
        grid-column: 2/3;
        grid-template-rows: 10% 10% 1fr;
    }
    #footer_button{
        right: 15%;
    }
}
