.wrapper
{
  .content
  {
    padding-top: 0;

    .btn-success
    {
      float: right;
      background: $primary-color;
      font-size: 16px;
      padding: 5px 18px 5px 18px;
      border-radius: 0;
      margin-top: 0;
      margin-right: 21px;
      border: none;
    }

    .users
    {
      .user
      {
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        padding: 14px 13px 14px 29px;
        background: $white;
        position: relative;

        a
        {
          color: $black;
        }

        h2
        {
          // display: inline-block;
          text-transform: capitalize;
          margin-bottom: rem-calc(9);
        }
        .subheading
        {
          color: $dark-gray;
        }

        .delete
        {
          background: transparent;
          border: 0;
          float: right;
          vertical-align: middle;
          position: absolute;
          top: 50%;
          right: rem-calc(10);
          transform: translateX(-50%);
        }
      }
    }
  }
}
