.buschange
{
  .container.buswissel
  {
    padding-top: 57px;
    padding-bottom: 57px;

    @include media-breakpoint-up(sm)
    {
      padding-left: 21px;
      padding-right: 21px;
    }

    h1
    {
      margin-bottom: 20px;
    }

    select:invalid
    {
      color: $gray;
    }
  }
}
