//=============================================================================
//                               Algemeen
//=============================================================================
.edit_ticket {
    nav {
      display: none;
    }
    main {
      margin-bottom: 100px;
      overflow: hidden;
    }
    .content h2 {
      color: #828282;
      margin: rem-calc(0);
    }
    .container:nth-child(2) {

      padding-top: 100px;
    }
    .afronden {
      border-top: 1px solid lightgrey;
      margin: 40px 0 100px;
      @include media-breakpoint-down(lg)
      {
        margin: 40px 0 0;
      }
    }
    .btn-afronden {
      margin: 80px 0px;
      margin: 80px 0px;
      border: 1px solid #288B5F;
      border-radius: 30px;
      background: none;
      color: #288B5F;
      box-shadow: 2px 2px 10px 0px #a5a5a5;
      padding: 13px 18px;
      &:hover {
        cursor: pointer;
      }
    }
}

.edit-ticket-blok {
  margin-bottom: rem-calc(20);
}

.delete-task, #edit-save-btn {
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

input:focus {
  border-bottom: 1px solid $primary-color !important;
}

//=============================================================================
//                                header
//=============================================================================

.edit-menu-ticket {
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.125rem 1.5rem;
  button {
    background: none;
    border: none;
  }
  h6 {
    padding: 0 0 0 5px;
  }
}

.edit-menu-balk {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  position: fixed;
}

.edit-menu-ticket {
  h1, h6 {
    margin-bottom: 0;
    display: inline;
  }}

  .edit-menu-ticket h6 {
    color: $dark-gray;
  }

  @media (min-width: 575px) {
    .edit_ticket {
      .edit-menu-ticket {
        display: flex;
      }
    }
  }

  .edit_ticket {
    .ticket_parent {
      text-align: center;
      margin: 10px 0 -5px;
    }
  }

  .edit_ticket {
    .ticket_number {
      text-align: center;
      font-size: 18px;
      background-color: #219653;
      color: white;
      border-radius: 6px;
      height: 24px;
      display: inline;
      padding: 2px 17px;
      margin: 5px auto -4px;
     }
  }


  //=============================================================================
  //                                Content
  //=============================================================================
  //Locatie
  .locatie-wrap {
    display: flex;
    align-items: center;
    margin-bottom: rem-calc(13);
  }

  .locatie-wrap table {
    width: 100%;
  }

  td {
    padding: 0px !important;
  }

  img.delete-dest {
    padding: 0px 0px 0px 10px;
  }

  .btn-delete-location, .close-model {
    background: none;
    border: none;
  }

  .btn-center {
    display: flex;
    justify-content: center;
    margin-top: rem-calc(10);
  }

  .grey {
    background-color: $light-gray;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: rem-calc(10) rem-calc(25) rem-calc(10) rem-calc(15);
    margin-bottom: 0px;
    border-bottom: 1px solid $gray;
  }

  @media (min-width: 575px) {
    .grey {
      width: 100%;
      margin-left: 0px;
    }
  }

  .th {
    color: $dark-gray;
    font-weight: normal;
  }


  //Financiën
  .factuur-wrap {
    margin-bottom: rem-calc(20);
  }

  .edit-ticket-blok.financien h6 {
    font-size: rem-calc(18) !important;
    margin: 0 0 0 0;
  }

  .edit-ticket-blok.financien span:first-child {
    padding: rem-calc(15) rem-calc(20);
    width: 100%;
  }

  .factuur-card, .gift-card  {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    margin: rem-calc(10) 0 rem-calc(10) 0;
  }

  .factuur-card img, .gift-card img {
    padding: rem-calc(15) rem-calc(20);
    float: right;
  }

  .delete-task-payment {
    background: none;
    border: none;
  }

  .delete-task {
    background: none;
    border: none;
  }

  .italic {
    font-style: italic;
    padding-bottom: 5px;
  }

  .eigenaar {

  }


  select .selected {
    color: #888;
  }

  //=============================================================================
  //                                Modal
  //=============================================================================
  .close-model {
    padding: 1rem;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  .modal-header-ticket {
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
  }

  .modal-content-ticket {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
  }

  .modal-footer-ticket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 1rem;
  }

  .model-center {
    margin: 0 auto;
  }
