.edit_page
{
  .form-group
  {
    &:last-child
    {
      display: none;

      @include media-breakpoint-up(lg)
      {
        display: block;
      }
    }
  }

  .box-footer
  {
    display: none;

    @include media-breakpoint-up(lg)
    {
      display: block;
    }

    @include clearfix;
    .btn-success
    {
      float: right;
      margin-right: 0;
    }
  }

  .content
  {
    padding: rem-calc(50) rem-calc(21) 0 rem-calc(21);
    margin-bottom: 50px;

    h1
    {
      display: none;

      @include media-breakpoint-up(lg)
      {
        display: block;
      }
    }
  }
}
