//=============================================================================
//                               Algemeen
//=============================================================================
.edit_ticket {
  main {
    margin-bottom: 100px;
    overflow: hidden;
  }
  .container{
    padding-top: 60px;
  }

  .content h2 {
    color: #828282;
    margin: rem-calc(0);
  }
  button {
    padding: 0px !important;
  }
}

.edit-ticket-blok {
  margin-bottom: rem-calc(20);
}

.delete-task, #edit-save-btn {
  &:focus {
    outline: none;
}
  &:hover {
    cursor: pointer;
  }
}

//=============================================================================
//                                header
//=============================================================================

.edit-menu-ticket {
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.125rem 1.5rem;
  button {
    background: none;
    border: none;
  }
}

.edit-menu-balk {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: fixed;
}

.edit-menu-ticket {
  h1, h6 {
  margin-bottom: 0;
  display: inline;
}}

.edit-menu-ticket h6 {
  color: $dark-gray;
}

@media (min-width: 575px) {
  .edit_ticket {
    .edit-menu-ticket {
      display: flex;
    }
  }
}

//=============================================================================
//                                Content
//=============================================================================
//Locatie
.locatie-wrap {
  display: flex;
  align-items: center;
  margin-bottom: rem-calc(13);
}

.locatie-wrap table {
  width: 100%;
}

td {
  padding: 0px !important;
}

img.delete-dest {
  padding: 0px 0px 0px 10px;
}

.btn-delete-location, .close-model {
  background: none;
  border: none;
}

.btn-add-location, .btn-add-payment {
  color: $white !important;
  background-color: $primary-color;
  width: 50% !important;
  border: none;
  margin-bottom: rem-calc(30);
  padding: rem-calc(5) !important;
}

.btn-center {
  display: flex;
  justify-content: center;
  margin-top: rem-calc(10);
}

.grey {
  background-color: $light-gray;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: rem-calc(10) rem-calc(25) rem-calc(10) rem-calc(15);
  margin-bottom: 0px;
  border-bottom: 1px solid $gray;
}

@media (min-width: 575px) {
  .grey {
    width: 100%;
    margin-left: 0px;
  }
}

.th {
  color: $dark-gray;
  font-weight: normal;
}


//Financiën
.factuur-wrap {
  margin-bottom: rem-calc(20);
}

.edit-ticket-blok.financien h6 {
  font-size: rem-calc(18) !important;
  margin: 0 0 0 0;
}

.edit-ticket-blok.financien span:first-child {
  padding: rem-calc(15) rem-calc(20);
  width: 100%;
}

.factuur-card, .gift-card  {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  margin: rem-calc(10) 0 rem-calc(10) 0;
}

.factuur-card img, .gift-card img {
  padding: rem-calc(15) rem-calc(20);
  float: right;
}

.delete-task-payment {
  background: none;
  border: none;
}

.delete-task {
  background: none;
  border: none;
}

.italic {
  font-style: italic;
}

.edit_ticket nav {
  display: none;
}

select .selected {
  color: #888;
}

//=============================================================================
//                                Modal
//=============================================================================
.close-model {
  padding: 1rem;
}

.modal-header {
  align-items: center;
}

.model-center {
  margin: 0 auto;
}

.model-center button {
  padding: 5px 10px !important;
  background-color: $primary-color;
  border-color: $primary-color;
}
