.ticket-wrapper
{
  padding: rem-calc(22) 0;
  background: $background;

  @media (min-width: 992px) { padding: rem-calc(22) rem-calc(100); }

  @media (min-width: 1500px) { padding: rem-calc(22) rem-calc(176); }

  .grid_container
  {
    margin-bottom: 107px;

    .grid_header
    {
      margin-bottom: 25px;
      padding-left: 21px;

      @include media-breakpoint-up(lg)
      {
        padding-left: 0;
      }
    }

    .grid_main
    {
      background: $background;
      border: 1px solid #E5E5E5;

      a
      {
        text-decoration: none;
      }

      .grid_ticket
      {
        background: $white;
        border: 0;
        border-bottom: 1px solid #E5E5E5;

        &:hover,
        &:focus
        {
          background: $light-gray;
        }

        @include media-breakpoint-up(lg)
        {
          border: 1px solid #E5E5E5;
        }

        &.new
        {
          border-left: solid 7px $secondary-color;
        }

        &.single
        {
          @include media-breakpoint-up(lg)
          {
            width: 350px;
          }
        }

        .ticket_number
        {
          margin-left: 0;
          margin-right: 21px;
        }

        .grid_animal_icon
        {
          .ticket_icon
          {

            @include media-breakpoint-up(lg)
            {
              height: 78px;
              width: 78px;
              margin-right: 0;
            }

            img#animal_icon
            {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);

              @include media-breakpoint-up(lg)
              {
                height: 60%;
                width: 60%;
              }
            }
          }
        }

        .ticket_main_info
        {

          .ticket_title
          {
            h3
            {
              margin-bottom: 0;
              display: inline-block;
            }

            .subheading
            {
              display: inline-block;
            }
          }

          .ticket_address
          {

            span
            {
              font-size: 14px;
              display: block;

              br
              {
                display: block;
                // margin-top: -10px;
                content: "";
              }
            }
          }
        }

        .ticket_description
        {
          grid-column: 2/6;
          font-size: 18px;
          margin: 7px 21px 21px 0px;

          @include media-breakpoint-up(lg)
          {
            margin-top: 14px;
          }
        }
      }
    }
  }
}

.ticket_centralist
{
  .icon-bar
  {
    @include media-breakpoint-up(lg)
    {
      display: none;
    }
  }

  .head
  {
    @media (min-width: 992px) { padding: rem-calc(40) rem-calc(100); }

    @media (min-width: 1500px) { padding: rem-calc(40) rem-calc(176); }

    @include clearfix;
    display: none;

    @include media-breakpoint-up(lg)
    {
      display: block;
    }

    .left, .right
    {
      padding: 0;
    }

    #toggle-button-desktop
    {
      border: none;
      padding: 0;
      background: none;

      #map-image-desktop{
      	margin-right: 10px;
      	height: 24px;
      	width: 16px;

      }
      #list-image-desktop{
      	height: 18px;
      	width: 22px;
      }
    }

    .search_field
    {
      width: 350px;
      margin-left: 38px;
      margin-bottom: 0;
      padding: 13px 11px;
      border: 1px solid $gray;
    }

    .filters
    {
      margin-top: 80px;

      .btn-success
      {
        line-height: 1.3;
      }

      input:not([type="submit"])
      {
        display: inline-block;
        width: auto;
        margin-bottom: 0;
        margin-right: 10px;
        border: 1px solid $gray;
        font-size: 18px;
        padding: 13px 11px;
      }
    }
  }

  .ticket-wrapper
  {

    .grid_container
    {

      .grid_main
      {

        @include media-breakpoint-up(lg)
        {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
          grid-gap: 1rem;
          border: none;
        }

        a
        {
          text-decoration: none;

          @include media-breakpoint-up(lg)
          {
            display: inline-block;
          }
        }

        .grid_ticket
        {

          &:hover,
          &:focus
          {
            background: $light-gray;

            @include media-breakpoint-up(lg)
            {
              background: $white;
              box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
            }
          }

          .grid_animal_icon
          {
            .ticket_icon
            {
              padding: 0;
              position: relative;
              margin-right: 18px;

              @include media-breakpoint-up(lg)
              {
                height: 78px;
                width: 78px;
                margin-right: 0;
              }
            }
          }

          .ticket_main_info
          {
            @include media-breakpoint-up(lg)
            {
              margin-left: 17px;
            }

            .ticket_title
            {
              h3
              {
                @include media-breakpoint-up(lg)
                {
                  display: block;
                  line-height: 2px;
                  margin-top: 9px;
                }
              }
              .subheading
              {
                font-size: 12px;
              }
            }
            .ticket_address
            {
              margin-top: 7px;
            }
          }
          .ticket_description
          {
            grid-column: 1/6;
            font-size: 18px;
            margin: 7px 21px 21px 21px;

            @include media-breakpoint-up(lg)
            {
              height: 175px;
              margin-top: 14px;
            }
          }
        }
      }
    }
  }
}


.ticket_ambulance
{

  .tickets
  {

    @include media-breakpoint-up(lg)
    {
      padding-top: 57px;
    }
  }

  #rest_tickets
  {
    position: relative;

    .overlay_rest
    {
      background-color: rgba(196, 196, 196, 0.6);
      background-image: url(../images/lock.svg);
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 99999;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  .grid_ticket
  {

    @include media-breakpoint-up(lg)
    {
      grid-template-columns: 130px 1fr 1fr 1fr 78px;
    }

    .grid_animal_icon
    {
      .ticket_icon
      {
        padding: 0;
        position: relative;
        margin-right: 28px;
      }
    }

    .ticket_title
    {
      .subheading
      {
        font-size: 14px;
        margin-left: 20px;
      }
    }

    .ticket_address
    {
      @include media-breakpoint-up(lg)
      {
        margin-top: 19px;
      }

      img, span
      {
        display: inline-block!important;
        vertical-align: top;
      }

      img
      {
        @include media-breakpoint-up(lg)
        {
          margin-right: 24px;
        }

          margin-right: 10px;
      }
    }

    .ticket_description
    {
      img
      {
        @include media-breakpoint-up(lg)
        {
          margin-right: 20px;
        }
        margin-right: 7px;

        vertical-align: top;
      }
    }
  }
}
