.profile-wrapper {
  display: inline-flex;
  width: 100%;
  margin: 10px;
}

.profile-icon img {
  max-height: 20px;
}

.profile-text {
  padding-left: 15px;
}

.profile-info {
    font-size: 24px;
    margin: 20px 20px 0px;
    border-bottom: 1px solid #BDBDBD;
}

//PLUGIN PULLN'
