.send_reset_mail {
  .info {
    display: block;
    margin-bottom: 1.875rem;
    font-weight: 300;
  }
  .navbar
  {
    display: none;
  }
  .container {
    margin-top: 100px;
  }
  h2 {
    margin-bottom: 0px;
    font-weight: 300;
  }
  .back {
    font-weight: 300;
    display: block;
    margin-top: 20px !important;
  }
  .centered {
    margin: 0 auto;
    text-align: center;
  }
  .logo_wrap
{
  margin-bottom: 89px;
  display: flex;
  justify-content: center;

  @include media-breakpoint-up(lg)
  {
    margin-bottom: 140px;
  }

  .logo
  {
    max-width: 241px;
    width: 241px;
    height: 86px;

    @include media-breakpoint-up(lg)
    {
      max-width: 418px;
      width: 418px;
      height: 149px;
    }
  }
}

}
