
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
$font-weight-thin: 300;
$font-weight-regular: 400;

// Color
$body-bg: #E5E5E5;
$primary-color: #288B5F;
$black: #000;
$dark-gray: #828282;
$light-gray: #F2F2F2;
$white: #fff;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
